.abouttext{
  margin-top: 30px;
  color: #a9609e;
  animation: float 5s ease 2s infinite ;
}

.aboutheader {
  text-align: center;
  margin: 0 0 30px 0;
}

.about-pretext {
  margin-bottom: 30px;
  padding: 50px;
  color: white;
  background-color: #a9609e;
}

.unicorn-text {
  height: -100px;
  width: 100px;
}

.about-pretext p {
  margin-bottom: 30px;
  color: white;
  background-color: #a9609e;;
}

.about-pretext p span {
  font-weight: bold;
  text-decoration: indianred;
}

.tilly-tilly{
  justify-content: center;
  height: 100vh;
  width: 100vh;
}

.linkedin{
  font-size: small;
  text-decoration: wavy;
  font-weight: bold;
  color: #a9609e;
}