.abouttext{
  margin-top: 30px;
}

.aboutheader {
  text-align: center;
  margin: 0 0 30px 0;
}

.about-pretext {
  margin-bottom: 30px;
  padding: 50px;
}

.about-pretext p {
  margin-bottom: 30px;
}

.about-pretext p span {
  font-weight: bold;
  text-decoration: indianred;
}

.tilly-tilly{
  justify-content: center;
  height: 100vh;
  width: 100vh;
}

.linkedin{
  font-size: xx-small;
  text-decoration: wavy;
  font-weight: bold;
}