.navbar, .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #1D2A3A;
  color: white;
}

.publicOption a {
  text-decoration: none;
  color: white;
  margin: 10px;

}

.navbar-text {
  display: flex;
  flex-direction: column;
}

.nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  height: 8vh;
  width: auto;
}

.welcome {
  display: flex;
  justify-content:space-evenly;
  color: white;
  font-size: 1.2em;
}

.username{
  font-size: 20px;
  margin-right: 20px;
}

.nav-menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}
.nav-menu li a:hover {
  color: black;
}

.nav-menu li a {
  padding: 5px 14px;
  color: white;
}

input[type='checkbox'] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

li {
  list-style: none;
}

a{
  text-decoration: none;
}

.btn{
  width: 50%;
  height: 25px;
  margin-bottom: 10px;
  margin-top: 15px;
}

/* Styling to make page interactive based on screen size */
@media (max-width: 768px) {
  .navbar {
    padding: 5px;
  }
  .nav-menu {
    display: none;
    position: absolute;
    background: rgb(169, 96, 158, 0.6);
    right: 0;
    text-align: center;
    padding: 5px;
    width: 220px;
    min-height: 200px;
    overflow: hidden;
    color: #fff;
    cursor: pointer;
    z-index: 12;
    border-radius: 30px;
    animation: glowing 20s linear infinite;
  }

  
 .nav-menu:active:after {
    background: transparent;
  }
  
  .nav-menu:hover:before {
    opacity: 1;
  }
  
  
  /* @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  } */

  .logo {
    font-size: 15px;
  }
  .nav-menu li + li {
    margin-top: 20px;
  }
  input[type='checkbox']:checked ~ .nav-menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
  /* body{
    overflow-y: hidden;
    overflow-y: hidden;
  } */
}
